ENV=dev
ENABLE_API=true
ENABLE_CONSUMER=true
PORT=3001
DB_URI=mongodb://localhost:27017/livedemo_app
OPENAI_API_KEY=
GEMINI_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_DEFAULT_VOICE_ID=
LIVEDEMO_CDN_URL=
DEFAULT_BACKGROUND_MUSIC_PATH=story-background-audios/future-trip.mp3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
LIVEDEMO_CDN_BUCKET=livedemo-cdn
DEFAULT_WORKSPACE_ID=
USER_ID=
